<!DOCTYPE html>
<html lang="de" class="no-js no-jquery">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"/>

        <title>{{ @local._name }}</title>

        <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
    </head>

    <body id="top">
        {{status status=@local._status}}